input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }


div.my-form{
    display: flex;
    justify-content: center;
}

div > form:first-child{
    width: 20%;
}


