<div class="my-form">
  <form class="m-2" novalidate [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div
      class="bg-danger text-white p-2 mb-2"
      *ngIf="formSubmitted && formGroup.invalid"
    >
      There are problems with the form
      <ul>
        <li *ngFor="let error of formGroup.getFormValidationMessages()">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input
        type="date"
        class="form-control"
        name="date"
        formControlName="date"
      />
      <ul
        class="text-danger list-unstyled"
        *ngIf="
          (formSubmitted || formGroup.controls['date'].dirty) &&
          formGroup.controls['date'].invalid
        "
      >
        <li *ngFor="let error of formGroup.getValidationMessages('date')">
          {{ error }}
        </li>
      </ul>
    </div>
  
    <div class="form-group">
      <label>Description</label>
      <input
        class="form-control"
        name="description"
        formControlName="description"
      />
      <ul
        class="text-danger list-unstyled"
        *ngIf="
          (formSubmitted || formGroup.controls['description'].dirty) &&
          formGroup.controls['description'].invalid
        "
      >
        <li *ngFor="let error of formGroup.getValidationMessages('description')">
          {{ error }}
        </li>
      </ul>
    </div>
  
    <button
      type="submit"
      class="btn btn-primary m-1"
      [disabled]="formSubmitted && formGroup.invalid"
      [class.btn-secondary]="formSubmitted && formGroup.invalid"
    >
      Отправить
    </button>
  </form>
</div>

